<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheet/style2.css">
</head>
<body>
    <h1>Ludwig van Beethoven</h1>

    <p> Ludwig van Beethoven fue un compositor, director de orquesta, pianista y profesor de piano alemán. Su legado musical abarca, cronológicamente, desde el Clasicismo hasta los inicios del Romanticismo. Es considerado uno de los compositores más importantes de la historia de la música y su legado ha influido de forma decisiva en la evolución posterior de este arte.</p>
<div>
    <img  src="/images/250-anos-de-Beethoven-el-gran-musico-atormentado-por-una-sordera-gradual.png" width="500" height="400">
</div>
</body>
</html>