<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galery</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <img src="/images/5128SCxerCL._AC_.jpg" width="400" height="600">
    <img src="/images/ludwig-van-beethoven-.jpg" width="400" height="600">
    <img src="/images/Ludwig-van-Beethoven002.jpg" width="400" height="600">
</body>
</html>