<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
    <link rel="stylesheet" href="/stylesheet/style2.css">
</head>
<body>
    <h1>Obras</h1>
    <p>En su prolífica trayectoria musical, Beethoven dejó para la posteridad un importante legado: nueve sinfonías, una ópera, dos misas, tres cantatas, treinta y dos sonatas para piano, cinco conciertos para piano, un concierto para violín, un triple concierto para violín, violonchelo, piano y orquesta, dieciséis cuartetos de cuerda, una gran fuga para cuarteto de cuerda, diez sonatas para violín y piano, cinco sonatas para violonchelo y piano e innumerables oberturas, obras de cámara, series de variaciones, arreglos de canciones populares y bagatelas para piano.</p>

    <p> <h3>Sinfonías</h3> 
       
        Beethoven compuso nueve sinfonías a lo largo de su trayectoria musical. Entre ellas se destacan la Tercera sinfonía, también llamada en castellano Heroica,e​ en mi♭ mayor, la Quinta sinfonía, en do menor y la Novena sinfonía, en re menor (cuyo cuarto movimiento está basado en la Oda a la Alegría, escrita por Friedrich von Schiller en 1785).
        
        Compuso su Primera sinfonía entre 1799 y 1800, cuando tenía 30 años de edad, y continuó componiendo sinfonías hasta su muerte.
        
        Existe controversia sobre la existencia de una Décima sinfonía, en la que estaría trabajando Beethoven cuando falleció.</p>


    <p><h3>Oberturas</h3> 
        Las diez oberturas de Beethoven son piezas cortas que, posteriormente, serían ampliadas y trabajadas para su incorporación en obras mayores. En el fondo, es música compuesta para musicalizar ballets (Las criaturas de Prometeo) y obras de teatro: Coriolano de William Shakespeare, Egmont de Johann Wolfgang von Goethe, etc. Se trata de composiciones cerradas y uniformes que expresan emociones e ideas llenas de heroísmo. El tema de la libertad está muy presente en este apartado de la producción del músico de Bonn. Por ejemplo, la Obertura Coriolano (Op. 62) ilustra musicalmente el drama homónimo de Shakespeare basado en el héroe que tiene que escoger entre la libertad de conciencia y su lealtad a las leyes romanas, Leonora n.º 3 (Op. 72a), por su parte, es una obertura destacada de las cuatro escritas para la ópera Fidelio. De idéntica valía son Las criaturas de Prometeo (Op. 43) y Egmont (Op. 84), siendo esta última un buen ejemplo de la típica composición beethoveniana.
    
    
    
    
    </p>
</body>
</html>